
*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif
}

h2{
    text-align: center;
    font-size: xx-large;
}

main{

    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vh;


}

#left{
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: column;
   /* height: 695px;*/
    height:100vh;
    margin:0px;
    /*position: relative; */
}

#profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}
#profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border:2.4px solid black;
}

#nameSurname{
    text-align:left;
    margin: 0 auto;
   
}

#project{
    margin-top: 15px;
    display: flex;
    height:40px;
    border-bottom:2px solid rgba(159, 154, 154, 0.6);
}
#project span {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    
    align-items: center;
}

#project span p{

    margin-right:10px ;
}

#project:hover{
    cursor: pointer;
    background-color: darkgrey;
    border-radius: 5px;
}

#newList{

    position: absolute;
    bottom: 0px;
    background-color: azure;
    width: 100%;
    height:50px;
    display: flex;
    align-items: center;
    border-top:1px solid gray;
}

#newList span{
    display:flex;
    flex-direction: row;
    padding-left:10px;
    align-items: center;
}
#newList span p{

    margin-right: 10px;
}

#left ul{
    padding: 5px;
}

#left ul li{
    display: flex;
    align-items: center;
    height:30px;
    border-radius: 5px;
}

#left ul li:hover{
    background-color: rgb( 200, 200, 200);

}

#left ul li div:nth-child(1)
{
    margin-right: 5px;
    margin-left: 5px;
}
#right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:100vh;
    margin:0px;
    text-align: center;
   
}

#projectmembers{
    display: block;/* none/block */
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    width: 100%;
    height:100%

}
.person{

    display:flex;
    flex-direction: row;
    margin-bottom: 20px;

   
}


.person img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border:2.4px solid black;

}

#title{
    display:flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
    justify-content: center;
}

section{
    margin-left:200px;
    margin-right: 100px;
}

#person{
   padding-top: 20px;
}

#right #title span{
   transform:scale(3);
   margin-right:15px;
}

#newtaskgeneral{
    display:none;/*block/none*/
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(240,240,240, 0.28);
}

#newTask{

    width:340px;
    height:200px;
    justify-content: center;
    background-color: white;
    border:1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 200px auto;
    
}

#newTask #newTaskName{
    background-color: rgb(176, 165, 165);
    margin-bottom:50px;
    text-align: center;
    height:40px;
    padding-top:14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#txtNewTask{
    width:200px;
    height:20px;
    margin-bottom: 30px;
}

#createCancel{
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

#create{
    margin-right:10px;
    border:1px solid rgb(50, 49, 49);
    border-radius: 5px;
    text-align:center;
    width:60px;
    height:24px;
    padding-top: 5px;
}

#cancel{
    margin-right:10px;
    border:1px solid rgb(50, 49, 49);
    border-radius: 5px;
    text-align:center;
    width:60px;
    height:24px;
    padding-top: 5px;
}

#cancel:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

#create:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.list{
    color:black;
    position: relative;
    background-color: rgb(100, 163, 190);
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}




.listtitle{ 
    width: 70%;
    margin:30px  auto;
    text-align: left;
    padding:20px 10px;
}

.listtitle h1{
    color: white;
    font-weight: normal;
}


.to-do{
    width: 70%;
    margin:30px  auto;
    text-align: left;
}

.item{
    width: 90%;
    padding: 20px;
    background-color: white;
    margin: 10px 0px;
    border-radius: 10px;
    
    

}

.item label{
    margin-left: 10px;
    font-size: 20px;
}

.chkbox{
   
    width: 15px;
    height: 15px;
   
}

.addTaskGeneral{
    position: absolute;
    bottom: 0px;
    background-color: rgb(110, 170, 190);
    width: 100%;
    
    align-items: center;
    text-align: center;
}

.addTask{
    width: 70%;
    height: 50px;
    padding: 0px 20px;
    background-color: white;
    margin:20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.addTask input{
    border: none;
    width:100%;
    padding: 15px;
}

.addTask p{
    font-size: 30px;
}

.to-do:nth-of-type() #item1 label{
    text-decoration: none;
}

.hidden {
    display: none !important;
}
.display {
    display: block !important;
}
.selected {
    border-left: 3px solid blue ;
}

.completed {
    text-decoration: line-through;
    color: red;
}

.listitem li{
    position: relative;
}
.listitem .icon{
    position: absolute;
    right: 50px;
}

.listitem .count{
    position: absolute;
    right: 15px;
    background-color: rgba(159, 154, 154, 0.6);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}

